.icon-btn {
    border-radius: 2px;
    border: 1px solid black;
}

.solid-color-btn {
    min-height: 20px;
    min-width: 20px;
    border-radius: 5px;
 }

.solid-color-btn:hover {
    cursor: pointer;
}

.indent {
    margin-left: 3%;
}