.pseudoChild {
    color: grey;
}

.normalBox {
    border: 1px solid #D0D0D0;
}

.highlightedBox {
    border: 2px solid black;
}

.flexChild {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.flexChild:hover {
    cursor: pointer;
}

.gridLineInput {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.gridLineInput:hover {
    opacity: 1;
}

.gridLineInputs {
    display: flex;
    column-gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.gridOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 150px;
    display: grid;
    z-index: 11;
    pointer-events: none;
}

.gridOverlayHorizontalElement {
    border-top: 2px dashed mediumslateblue;
}

.lastHorizontalElement {
    border-bottom: 2px dashed mediumslateblue 
}

.lastVerticalElement {
    border-right: 2px dashed mediumslateblue 
}

.gridOverlayVerticalElement {
    border-left: 2px dashed mediumslateblue;
}

.gridOverlayWrapper {
    position: relative;
    top: 0;
    left: 0;
    min-height: 150px;
    overflow: auto;
}


