.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appearance-visualizer-box {
    background: #FFFFFF;
    padding: 10px;
    width: fit-content;
    text-align: center;
}


.appearance-visualizer-settings {
    overflow: auto;
    padding: 2% 5%;
}

.appearance-container { 
    margin: 2% 0;
}

.addStyle {
    border-radius: 5px;
    padding: 10px;
    background-color: #eeeeee;
    transition: all 0.1s;
    text-align: center;
}

.addStyle:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.demoBox {
    min-height: 20px;
    min-width: 20px;
    background-color: #9e9e9e;
    margin-left: 10px;
    margin-right: 10px;
}