.normalBox {
    border: 1px solid #D0D0D0;
}

.highlightedBox {
    border: 2px solid black;
}

.flexChild {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    text-align: center;
}

.flexChild:hover {
    cursor: pointer;
}

.flexVisualizer {
    margin: auto;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.11);
}

.flexPlayground {
    background: #E7EBF0;
    min-height: 200px;
    width: 100%;
    overflow: auto;
}

.flexProperties {
    flex: 1;
    text-align: right;
}

.flexSettings {
    overflow: auto;
}