.iconBtn:hover {
    cursor: pointer;
}

.iconBtn {
    transition: all 0.2s;
    padding: 2px;
    height: 24px;
    margin-left: 5px;
}

.clicked {
    background-color: #38a5e9;
}

.unclicked:hover {
    background-color: #eeeeee;
}