@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 2% 5% 2% 5%;
  font-family: 'Inter', sans-serif;
}

.category-header {
  margin-bottom: 20px;
}

.bold {
  font-weight: 700;
}

.flex-header {
  display: flex;
}

.enable-flex {
  display: flex;
}

.icon-placeholder {
  width: 20px;
  height: 20px;
}

.icon-btn {
  width: 20px;
  height: 20px;
}

.icon-btn:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.solid-color-btn {
  min-height: 20px;
  min-width: 20px;
  border-radius: 5px;
}

.solid-color-btn:hover {
  cursor: pointer;
}

.property-text {
  color: rgba(0, 0, 0, 0.5);
}

/*.hoverable-property {

}*/

.hoverable-property-name {
  display: inline-block;
  vertical-align: sub;
  user-select: none;
}

.hoverable-property-name:hover {
  cursor: pointer;
}

.visualizer {
    margin: auto;
    box-shadow: 0px 2px 20px rgb(240 240 240);
}

.visualizer-playground {
    background: #E7EBF0;
    min-height: 150px;
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: all 0.1s
}

.visualizer-settings {
    overflow: auto;
    padding: 5%;
}